/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(91, 155, 240);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(109, 123, 141);
  }
  
  .card-img {
    height: 100vh;
  }
  
  #mobile-img {
    display: block;
    height: 100vh;
  }
  
  #laptop-img {
    display: none;
    height: 25vh;
  }
  
  @media all and (max-width: 900px) {
    #mobile-img {
      display: none;
    }
    #laptop-img {
      display: block;
    }
  }
  
  /* #card-mobile {
      background-size: cover;
      background-attachment: fixed;
      position: relative;
      height: 100vh;
  } */
  
  carousel-inner img {
    height: 100%;
    width: 100%;
  }
  
  .cardsBg {
    background-image: url(bg.gif);
    background-position: center;
    opacity: 0.95;
  }
  
  #imageSlider {
    padding-top: 10vh;
  }
  
  #resumeButton a {
    position: absolute;
    left: -90px;
    transition: 0.3s;
    /* Add transition on hover */
    padding: 15px;
    /* 15px padding */
    width: 130px;
    /* Set a specific width */
    text-decoration: none;
    /* Remove underline */
    font-size: 20px;
    /* Increase font size */
    color: white;
    /* White text color */
    border-radius: 0 5px 5px 0;
    /* Rounded corners on the top right and bottom right side */
  }
  
  #resumeButton a:hover {
    left: 0px;
  }
  
  /* zoom in effect on cards */
  .inner {
    overflow: hidden;
  }
  
  .inner img {
    transition: all 1.5s ease;
  }
  
  .inner:hover img {
    transform: scale(1.25);
  }
  
  #dp-zoom {
    transition: all 0.75s ease;
  }
  #dp-zoom:hover {
    transform: scale(1);
  }
  
  #cardphoto-zoom {
    transition: all 0.75s ease;
  }
  #cardphoto-zoom:hover {
    transform: scale(1.1);
  }
  
  .photos-zoom {
    transition: all 0.75s ease;
  }
  .photos-zoom:hover {
    transform: scale(1.25);
    /* color: rgb(88, 112, 246); */
  }
  
  /* social-mediaMain */
  #social-mediaMain {
    float: right;
    margin-right: 47px;
    display: block;
  }
  /* social-mediaSidebar */
  #social-mediaSidebar {
    z-index: 99999;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  #social-mediaSidebar a {
    display: block;
    text-align: center;
    padding: 8px;
  }
  
  /* instagram */
  #insta {
    background-color: rgb(211, 63, 63);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #insta-icon {
    transition: all 0.5s ease;
  }
  #insta-icon:hover {
    color: black;
    transform: scale(1.25);
  }
  #linkedin {
    background-color: rgb(22, 111, 228);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #linkedin-icon {
    transition: all 0.5s ease;
  }
  #linkedin-icon:hover {
    color: black;
    transform: scale(1.25);
  }
  #twitter {
    background-color: rgb(76, 149, 243);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #twitter-icon {
    transition: all 0.5s ease;
  }
  #twitter-icon:hover {
    color: black;
    transform: scale(1.25);
  }
  #hackerRank {
    background-color: rgb(43, 204, 51);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  #hackerRank-icon {
    transition: all 0.5s ease;
  }
  #hackerRank-icon:hover {
    color: black;
    transform: scale(1.25);
  }
  
  /* scroll to top arrow */
  .scroller {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 50px;
    right: 25px;
    /* image replacement properties */
    /* overflow: hidden; */
    /* background: #f79420 url("$assets-cd-top-arrow-svg") no-repeat center 50%; */
    /* visibility: hidden; */
    /* opacity: 0; */
    /* -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s; */
  }
  
  /* footer */
  .footerBg {
    background-image: url(bg.gif);
    background-position: center;
    /* background-size: cover; */
    opacity: 0.9;
  }
  